<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>

    <!-- KaTeX CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css">

    <!-- KaTeX JS -->
    <script defer
            src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js"></script>

    <!-- OPTIONAL: Your stylesheet -->
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <main class="content">
        {{ content }}
    </main>
</body>
</html>
